:root {
	--unl-red: #D00000;
	--unl-cream: #F5F1E7;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

html, body {
	height: 100vh;
}

body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: "Roboto";
}

.toolbar {
	height: 100%;
	width: 80px;
	background: var(--unl-red);
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	color: white;
}

.toolbar-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px 0;
	cursor: pointer;
}

.toolbar-icon-label {
	font-size: 12px;
	margin-top: 4px;
}

.dashboard {
	height: 100%;
	flex-grow: 1;
	background: var(--unl-cream);
	overflow-y: scroll;
	padding: 32px 64px;
	box-sizing: border-box;
}

.greeting {
	font-size: 32px;
}

.notification {
	margin-top: 16px;
	background: white;
	padding: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.notification-count {
	height: 18px;
	width: 18px;
	font-size: 12px;
	background: var(--unl-red);
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.notification-message {
	margin-left: 16px;
	font-size: 18px;
}

.network {
	margin-top: 48px;
}

.network-title {
	font-size: 20px;
}

.network-search {
	margin-top: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.network-search-bar {
	background: white;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

.advisor-filter, .professor-filter {
	margin: 0 16px 0 48px;
}

.network-list {
	margin-top: 32px;
	display: flex;
	flex-wrap: wrap;
}

.person-card {
	height: 300px;
	width: 300px;
	background: white;
	margin: 0 32px 32px 0;
}